* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Quicksand', sans-serif;
  color: #000;
  background-image: url('../img/wallpaper.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#time {
  font-size: 120px;
  color: #fff;
}